/*Styling for Sign Up and Sign In */
.signup-body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.signup-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.signup-h1 {
    text-align: start;
    font-size: 24px;
    margin-bottom: 20px;
}
.signup-form {
    display: flex;
    flex-direction: column;
}
.signup-label {
    text-align: left;
    margin-top: 10px;
}
.signup-input {
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 10px;
    caret-color: red;
}
.signup-input:focus{

    border: 1px solid rgb(229, 9, 20);
}
.signup-button {
    background-color:rgb(229, 9, 20);
    color: #fff;
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: large;
    
}
.signup-button:hover{
    color: rgb(229, 9, 20);;
    background-color: #000 ;
}
.signup-para{
    margin-top: 20px;
}
.signup-a{
    color: #333;
    text-decoration: none;
    font-weight: bold;    
}
.signup-a:hover{
    color: rgb(229, 9, 20);;
    text-decoration: underline;
}

